@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --color-primario: #ea4d40;
}
*{
margin: 0;
box-sizing: border-box;
padding: 0;
}

body {
    background-color: #eee;
    font-family: "Roboto";
}
header {
    height: 60px;
    background: -webkit-linear-gradient(left, var(--color-primario), #ee9389);

}
h1 {
    color: #444;
    text-align: center;
    margin: 40px 0;
}
.color-primario {
    color: var(--color-primario);
}
.cards {
    padding: 0 50px 50px 50px;
}
.card {
    width: 300px;
    height: 400px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
}
.card, .card * {
    transition: all 0.5s ease;
}

.card__imagen {
    height: 60%;
    background-color: wheat;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.card__imagen img {
    width: 100%;
    transform: translate(0, -60px);
}

.card__photos {
    position: absolute;
    bottom: 0;
    background-color: var(--color-primario);
    color: #FFFFFF;
    padding: 8px 11px;
    border-radius: 1px;
}

.card__fecha {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color-primario);
    color: #FFFFFF;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    line-height: 0.8rem;
    padding-top: 8px;
}

.card__fecha span {
    font-size: 0.7rem;
}

.card__info {
    padding: 20px;
    position: relative;
    height: 40%;
}
.card__subtitulo {
    color: var(--color-primario);
}
.card__feed {
    color: #888;
    position: absolute;
    bottom: 20px;
}
.card__descripcion {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.1rem;
    visibility: hidden;
    opacity: 0;
}
.card:hover .card__imagen img {
    filter: brightness(0.5);
}

.card:hover .card__imagen {
    height: 40%;
}

.card:hover .card__info {
    height: 60%;
}
.card:hover .card__descripcion {
    visibility: visible;
    opacity: 1;
}

.card:hover {
    box-shadow: #bbb 0px 0px 20px;
    transform: scale(1.05);
}